{% load static %}
{% load blog_tags %}
{% load blog_tags %}
{% get_site_configs as SITE_CONFIGS %}

<aside class="l_side">
    <section class="author">
        <div class="content pure">
            <div class="avatar"><img class="avatar" src="{% static 'images/avatar.png' %}"></div>
            <div class="text">
                <p><span id="jinrishici-sentence">台上凭栏干，犹怯春寒。</span></p>
                <script src="{% static 'js/jinrishici.js' %}" charset="utf-8"></script>
            </div>
            <div class="social-wrapper">
                <a href="mailto:{{ SITE_CONFIGS.Footer.Email }}" class="social flat-btn waves-effect waves-button" target="_blank" rel="external"><i class="social fas fa-envelope" aria-hidden="true"></i></a>
                <a href="{{ SITE_CONFIGS.Footer.GitHub }}" class="social flat-btn waves-effect waves-button" target="_blank" rel="external nofollow noopener noreferrer"><i class="social fab fa-github" aria-hidden="true"></i></a>
                <a href="{{ SITE_CONFIGS.Footer.Weibo }}" class="social flat-btn waves-effect waves-button" target="_blank" rel="external nofollow noopener noreferrer"><i class="social fab fa-weibo" aria-hidden="true"></i></a>
                <a href="{{ SITE_CONFIGS.Footer.Music }}" class="social flat-btn waves-effect waves-button" target="_blank" rel="external nofollow noopener noreferrer"><i class="social fas fa-headphones-alt" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>


    <!-- 文章目录 -->
    {% if post.toc %}
    <section class="toc-wrapper">
        <header class="pure">
            <div><i class="fas fa-list fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;文章目录</div>
            <div class="wrapper">
                <a class="s-toc rightBtn" rel="external nofollow noopener noreferrer" href="javascript:void(0)"><i class="fas fa-thumbtack fa-fw"></i></a>
            </div>
        </header>
        <div class="content pure">
            <ol class="toc">{{ post.toc | safe }}</ol>
        </div>
    </section>
    {% endif %}



    <section class="plain">
        <header class="pure">
            <div><i class="fas fa-bullhorn fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;注意啦～</div>
        </header>

        <div class="content pure">
            <a href="https://www.aliyun.com/acts/product-section-2019/new-users?userCode=lamq9ca3" target="_blank"><img width="100%" src="{% static 'images/guanggao/aliyun_001.png' %}"></a>
            <a href="https://promotion.aliyun.com/ntms/act/qwbk.html?userCode=lamq9ca3" target="_blank"><img width="100%" src="{% static 'images/guanggao/aliyun_002.png' %}"></a>
        </div>

    </section>


    <section class="tagcloud">
        <header class="pure"><div><i class="fas fa-tags fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;热门标签</div></header>
        <div class="content pure">
            {% get_tags as tags_list %}
            {% for tag in tags_list.tags %}
            <a href="{% url 'blog:tags' tag.name %}" style="{{ tags_list.tags_style | random }}">{{ tag.name }}</a>

            {% empty %}
                <a></a>
            {% endfor %}


        </div>
    </section>


    <section class="list">
        <header class="pure"><div><i class="fas fa-medal fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;友情链接</div></header>
        <div class="content pure">
            <ul class="entry">
                {% get_links as links %}
                {% for link in links %}
                <li><a class="flat-box waves-effect waves-block" title="{{ link.name }}" href="{{ link.url }}" target="_blank"><div class="name"><i class="fas fa-link fa-fw" aria-hidden="true"></i> &nbsp;&nbsp;{{ link.name }}</div></a></li>
                {% empty %}
                <li><a class="flat-box waves-effect waves-block" title="" href="{% url 'blog:About' %}"><div class="name"><i class="fas fa-comment-dots fa-fw" aria-hidden="true"></i> &nbsp;&nbsp;暂无友链，互换友链请留言我!</div></a></li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="music">
        <header class="pure">
            <div><i class="fas fa-compact-disc fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;最近在听</div>
            <a class="rightBtn" target="_blank" rel="external nofollow noopener noreferrer" href="{{ SITE_CONFIGS.Music.home }}" title="{{ SITE_CONFIGS.Music.home }}"><i class="far fa-heart fa-fw"></i></a>
        </header>
        <div class="content pure">
            <link rel="stylesheet" href="{% static 'css/APlayer.min.css' %}">
            <div class="aplayer" data-theme="#1BCDFC" data-mode="circulation" data-server="netease" data-type="playlist" data-id="{{ SITE_CONFIGS.Music.id }}" data-volume="0.7"></div>
            <script async="" src="{% static 'js/APlayer.min.js' %}"></script>
            <script async="" src="{% static 'js/Meting.min.js' %}"></script>
        </div>
    </section>


</aside>

