{% extends 'blog/base.html' %}
{% load static %}

{% block title %}{{ SITE_CONFIGS.Name }} - {{ post.title }}{% endblock %}

{% block l_main %}
<div class="l_main">
    <!-- 正文部分 -->
    <article id="post" class="post white-box article-type-post" itemscope="" itemprop="blogPost">
        <!-- 标题 -->
        <section class="meta">
            <div class="meta" id="header-meta">
                <h1 class="title">{{ post.title }}</h1>
                <div class="new-meta-box">
                    <div class="new-meta-item author"><a href="/blog"><i class="fas fa-user" aria-hidden="true"></i> {{ post.author }}</a></div>
                    <div class="new-meta-item date"><a class="notlink"><i class="fas fa-clock" aria-hidden="true"></i> {{ post.created_time | date:'Y-m-d H:i:s' }}</a></div>
                    <div class="new-meta-item browse busuanzi"><a class="notlink"><i class="fas fa-eye" aria-hidden="true"></i> <span id="busuanzi_value_page_pv">{{ post.views }}</span></a></div>
                </div>
                <hr>
            </div>
        </section>
        <!-- 正文 -->
        <section class="article typo">
            <div class="article-entry" itemprop="articleBody">{{ post.body | safe }}</div>

            <section class="meta" id="footer-meta">
                <hr>
                <div class="new-meta-box">
                    {% for tag in post.tags.all %}
                    <div class="new-meta-item meta-tags"><a class="tag" href="{% url 'blog:tags' tag.id %}"><i class="fas fa-tag" aria-hidden="true"></i>&nbsp;{{ tag.name }}</a></div>
                    {% endfor %}
                    <div class="new-meta-item date" itemprop="dateUpdated">
                        <a class="notlink"><i class="fas fa-pencil-alt" aria-hidden="true"></i> {{ post.modified_time | date:'Y-m-d' }}</a>
                    </div>
                </div>
            </section>

            <div class="prev-next">
                {% if post.get_previous_by_created_time %}
                <section class="prev">
                    <span class="art-item-left">
                        <h4><a href="{{ post.get_previous_by_created_time.get_absolute_url }}" rel="prev" title="{{ post.get_previous_by_created_time.title }}"><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp; {{ post.get_previous_by_created_time.title }}</a></h4>
                    </span>
                </section>
                {% endif %}
                {% if post.get_next_by_created_time %}
                <section class="next">
                    <span class="art-item-right" aria-hidden="true">
                        <h4><a href="{{ post.get_next_by_created_time.get_absolute_url }}" rel="prev" title="{{ post.get_next_by_created_time.title }}">{{ post.get_next_by_created_time.title }}&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></a></h4>
                    </span>
                </section>
                {% endif %}
            </div>
        </section>
    </article>
    <br>

    <!-- 评论区 -->
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <article class="post white-box comments">
        <section class="article typo">
            <p ct=""><i class="fas fa-comments"></i> 评论</p>
            <section id="comments">
                <div id="valine_container" class="valine_thread v" data-class="v">

                    <!-- 评论提交表单区 -->
                    <div id="comments-post" class="vreply-wrapper" parent-id="0" reply-id="0" redirect-url="#comments-post">
                        <div class="vpanel" id="comment-vpanel">
                            <div class="vwrap">
                                <form action="/comment/add/" method="post" id="comment-form">{% csrf_token %}
                                    <input name="post_id" id="post_id" type="hidden" value="{{ post.id }}">
                                    <input name="parent_id" id="parent_id" type="hidden" value="0">
                                    <input name="reply_id" id="reply_id" type="hidden" value="0">
                                    <input name="redirect_url" id="redirect_url" type="hidden" value="#comments-post">

                                    <p class="cancel-reply text-right" style="display: none;" title="取消回复">
                                        <svg style="float: right;" class="vicon cancel-reply-btn" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4220" width="22" height="22">
                                            <path d="M796.454 985H227.545c-50.183 0-97.481-19.662-133.183-55.363-35.7-35.701-55.362-83-55.362-133.183V227.545c0-50.183 19.662-97.481 55.363-133.183 35.701-35.7 83-55.362 133.182-55.362h568.909c50.183 0 97.481 19.662 133.183 55.363 35.701 35.702 55.363 83 55.363 133.183v568.909c0 50.183-19.662 97.481-55.363 133.183S846.637 985 796.454 985zM227.545 91C152.254 91 91 152.254 91 227.545v568.909C91 871.746 152.254 933 227.545 933h568.909C871.746 933 933 871.746 933 796.454V227.545C933 152.254 871.746 91 796.454 91H227.545z" p-id="4221"></path>
                                            <path d="M568.569 512l170.267-170.267c15.556-15.556 15.556-41.012 0-56.569s-41.012-15.556-56.569 0L512 455.431 341.733 285.165c-15.556-15.556-41.012-15.556-56.569 0s-15.556 41.012 0 56.569L455.431 512 285.165 682.267c-15.556 15.556-15.556 41.012 0 56.569 15.556 15.556 41.012 15.556 56.569 0L512 568.569l170.267 170.267c15.556 15.556 41.012 15.556 56.569 0 15.556-15.556 15.556-41.012 0-56.569L568.569 512z" p-id="4222"></path>
                                        </svg>
                                    </p>
                                    <div class="vheader item3">
                                        <input name="nick" id="nick" placeholder="昵称" class="vnick vinput" type="text" style="width: 49.5%;" required="required">
                                        <input name="mail" id="mail" placeholder="邮箱" class="vmail vinput" type="email" style="width: 49.5%;" required="required">
                                    </div>
                                    <div class="vedit">
                                        <textarea name="content" class="veditor vinput" placeholder="评论支持Markdown语法!" form="comment-form" required="required"></textarea>
                                    </div>
                                    <div class="vrow"><input  title="提交评论" class="vsubmit vbtn" style="float: right;" type="submit" value="提交" /></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- 评论数 -->
                    <div class="vcount" style="display: block;"><span class="vnum">{{ comments_dict.count }}</span> 评论</div>

                    <!-- 评论显示区 -->
                    <div class="vcards">
                        {% for comment_id,comments in comments_dict.comments.items %}
                            <div class="vcard" id="comment-{{ comment_id }}">
                                <img class="vimg" src="{{ comments.comment.avatar }}">

                                <div class="vh">
                                    <div class="vhead"><a class="vnick" rel="nofollow">{{ comments.comment.nick }}</a><span class="vsys">{{ comments.comment.browser }}</span><span class="vsys">{{ comments.comment.client }}</span></div>
                                    <div class="vmeta">
                                        <span class="vtime">{{ comments.comment.add_time | date:'Y-m-d' }}</span>
                                        <span class="vat">回复</span>
                                    </div>
                                    <div class="vcontent"><p>{{ comments.comment.content | safe }}</p></div>
                                    <div class="vreply-wrapper" parent-id="{{ comment_id }}" reply-id="{{ comment_id }}" redirect-url="#comment-{{ comment_id }}"></div>

                                    <!-- 子评论 -->
                                    <div class="vquote">
                                        {% for reply in comments.reply %}
                                        <div class="vcard" id="comment-{{ reply.id }}">
                                            <img class="vimg" src="{{ reply.avatar }}">
                                            <div class="vh">
                                                <div class="vhead"><span class="vnick">{{ reply.nick }}</span> <span class="vsys">{{ reply.browser }}</span> <span class="vsys">{{ reply.client }}</span></div>
                                                <div class="vmeta"><span class="vtime">{{ reply.add_time | date:'Y-m-d H:i:s' }}</span><span class="vat">回复</span></div>
                                                <div class="vcontent"><p><a href="#comment-{{ reply.reply_id }}" target="_self" rel="nofollow">@{{ reply.to_nick }} </a>, {{ reply.content | safe }}</p></div>
                                                <div class="vreply-wrapper"  parent-id="{{ comment_id }}" reply-id="{{ reply.id }}" redirect-url="#comment-{{ reply.id }}"></div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </section>
        </section>
    </article>
    <script src="{% static 'js/comment.js' %}"></script>
    <script>update_from();</script>

</div>
{% endblock %}
