{% extends 'blog/base.html' %}

{% block title %}{{ SITE_CONFIGS.sitename }}'s Blog{% endblock %}

{% block l_main %}
<style>
    .l_main .post-list .post-wrapper .post img {
        display: none;
    }
</style>

<div class="l_main">
    <section class="post-list">
        {% for post in post_list %}
        <div class="post-wrapper">
            <article class="post reveal" data-sr-id="0" style="visibility: visible; opacity: 1; transition: all 0.25s ease 0s, opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;">
                <section class="meta">
                    <div class="meta" id="header-meta">
                        <h2 class="title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                        <div class="new-meta-box">
                            <div class="new-meta-item author"><a href="/blog"><i class="fas fa-user" aria-hidden="true"></i>{{ post.author }}</a></div>
                            <div class="new-meta-item date"><a class="notlink"><i class="fas fa-clock" aria-hidden="true"></i>{{ post.created_time |date:'Y-m-d' }}</a></div>
                            <div class="new-meta-item browse busuanzi"><a class="notlink"><i class="fas fa-eye" aria-hidden="true"></i>{{ post.views }}</a></div>
                        </div>
                        <hr>
                    </div>
                </section>

                <section class="article typo">
                    {{ post.body | safe | truncatewords_html:'20' }}
                    <div class="readmore"><a href="{{ post.get_absolute_url }}" class="flat-box waves-effect waves-block"><i class="fas fa-book-open fa-fw" aria-hidden="true"></i> 阅读全文</a></div>
                    <div class="full-width auto-padding tags">
                        {% for tag in post.tags.all %}
                        <a href="{% url 'blog:tags' tag.name %}"><i class="fas fa-tag fa-fw"></i>{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </section>
            </article>
        </div>
        {% endfor %}
    </section>
    <br>

    <!-- 翻页 -->
    <div class="prev-next">
        <div class="prev-next">
            {% if post_list.has_previous %}
            <a class="prev" rel="prev" href="?page={{ post_list.previous_page_number }}"><section class="post prev"><i class="fas fa-chevron-left" aria-hidden="true"></i>&nbsp;上一页&nbsp;</section></a>
            {% endif %}
            <p class="current">{{ post_list.number }} / {{ post_list.paginator.num_pages }}</p>
            {% if post_list.has_next %}
            <a class="next" rel="next" href="?page={{ post_list.next_page_number }}"><section class="post next">&nbsp;下一页&nbsp;<i class="fas fa-chevron-right" aria-hidden="true"></i></section></a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
